article{
	text-align: center;
	width: 70%;
	background: #f3e3d1;
}



ul#galeria{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 30px;
	margin: 10px auto;
}

ul#galeria li{
	margin: 5px 15px;
	position: relative;
}

ul#galeria li:before{
	content: '';
	position: absolute;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.25s;
}

ul#galeria li:hover:before{
	opacity: 20%;
}