h1, h2, h3 {
margin:0;
padding:0;
}
/*formatowanie znacznika body:*/
body {
background:#d4c7b9;
font-family: arial;
}
/*formatowanie znaczników h1, h2 i elementu o identyfikatorze stopka:*/
h1, footer {
text-align:center;
background: #45525a; color:#ffe9ba; border-radius:10px;
}
main {
	
}
/*Pozycjonowanie elementów na stronie */
article{
float:left;
width:75%;
padding:1%;
background:#f0f0f0;
border-radius: 1%;
margin: 10px auto;
-webkit-box-shadow: 24px 24px 68px -17px rgba(66, 68, 90, 1);
-moz-box-shadow: 24px 24px 68px -17px rgba(66, 68, 90, 1);
box-shadow: 24px 24px 68px -17px rgba(66, 68, 90, 1);
}
aside {
float:right;
width:20%;
padding:1%;
}
footer{
clear:both;
width:100%;
padding:5px 0 5px 0;
text-align:center;
}

aside section{ 
background: #45525a; color:#ffe9ba; border-radius:10px;
padding:5px;
margin:5px;
font-size:90%;}
/* hiperłącza w elementach klasy box*/
aside section a{color:#ffffb0}

/*Nowa nawigacja*/
nav {
 text-align: left;
 overflow: hidden;
 font-family: calibri, tahoma;
 margin-bottom: 10px;
}
ul#menu li {
 border: 1px solid #d5d5d5;
 list-style-type: none;
 float: left;
 background: #45525a;
 margin-left: 3px;
 border-radius: 5px;
}
ul#menu li:hover {
 border: 1px solid #d5d5d5;
 list-style-type: none;
 background: #58656d;
 margin-left: 3px;
}
ul#menu li a {
 display : block;
 padding : 4pt;
 text-decoration : none;
 color: #ffe9ba;
}
ul#menu li ul li a {
 width: 160px;
}
ul#menu li ul li:hover {
 background: white;
}
ul#menu li ul {
 overflow: hidden;
 display: none;
}
ul#menu li:hover ul {
 position: absolute;
 background: #aaa;
 padding: 0;
 display: block;
 width: 177px;
}