h1, h2, h3 {
margin:0;
padding:0;
}
/*formatowanie znacznika body:*/
body {
background:#d4c7b9;
font-family: arial;
}
/*formatowanie znaczników h1, h2 i elementu o identyfikatorze stopka:*/
h1, footer {
text-align:center;
background: #45525a; color:#ffe9ba; border-radius:10px;
}
main {
	
}
/*Pozycjonowanie elementów na stronie */
article{
float:left;
width:75%;
padding:1%;
background:#f0f0f0;
border-radius: 1%;
margin: 10px auto;
-webkit-box-shadow: 24px 24px 68px -17px rgba(66, 68, 90, 1);
-moz-box-shadow: 24px 24px 68px -17px rgba(66, 68, 90, 1);
box-shadow: 24px 24px 68px -17px rgba(66, 68, 90, 1);
}
aside {
float:right;
width:20%;
padding:1%;
}
footer{
clear:both;
width:100%;
padding:5px 0 5px 0;
text-align:center;
}

aside section{ 
background: #45525a; color:#ffe9ba; border-radius:10px;
padding:5px;
margin:5px;
font-size:90%;}
/* hiperłącza w elementach klasy box*/
aside section a{color:#ffffb0}

/*Nowa nawigacja*/
nav {
	text-align: left;
	font-family: calibri, tahoma;
	margin-bottom: 10px;
	width: 75%;
}

ul#menu{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	border-radius: 10px;
	padding: 0;
}

ul#menu li ul{
	list-style-type: none;
	display: none;
	position: absolute;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
	width: auto;
}

ul#menu li{
	width: 25%;
	box-sizing: border-box;
}

ul#menu li a
{
	display: block;
	background: #45525a;
	text-decoration: none;
	color: #ffe9ba;
	padding: 5%;
	text-align: center;
	transition: 0.2s;	
}

ul#menu li ul li{
	width: 95%;
	border-bottom: 1px solid #aaa;/*#959191;*/
}


ul#menu li ul li:last-child{
	border: none;
}

ul#menu li a:hover, #ulmenu li ul li a{
	background: #56656e;
}

ul#menu li:hover ul{
	background: #aaa;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul#menu li:hover ul li{
	margin-left: 5%;
}

@media screen and (max-width: 650px) {
	ul#menu li{
		width: 50%; 
		box-sizing: border-box;
	}
	ul#menu li:nth-child(-n + 2){
		border-bottom: 1px solid #aaa;
	}
	ul#menu li:nth-child(even){
	border-right: none;
	}
	nav, article, aside{
		margin-left: auto; 
		margin-right: auto; 
		float: none;
	}
	aside 
	{
		display: flex;
		width: 75%;
		flex-wrap: wrap;
		flex-direction: row;
	}
}


/*
#45525a;
 color: #ffe9ba;
*/